*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: white;
}
.nav-nueva{
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    position: sticky;
    top: 0;
}


.animate__animated.animate__bounce {
    --animate-duration: 5s;
}

:root :hover {
    --animate-duration: 2s;
    --animate-delay: 0.9s;
}
.texto-uno{
    color: white;
}
.nav-principal{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* OBRAS */
.obras-uno{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3px 10px;
    border: grey 5px solid;
    border-radius: 20px;
}
.obras-dos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3px 10px;
    border: grey 5px solid;
    border-radius: 20px;
}
.obras-tres{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3px 10px;
    border: grey 5px solid;
    border-radius: 20px;
}

/* cuerpo */
.card-body{
    background-color: black;
    color: white;
}

.card-title{
    color: white;
    display: flex;
    justify-content: center;
}

.card-text{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}
/* PLANTEL */


 /* footer */

.footer-color{
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
}

.redes-sociales a img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 35px;
    height: 35px;
}

.mapa{
    width: 350px;
    height: 115px;
}

/* Institucion */

.container-inst{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-img{
    width: 150px;
    height: 170px;
}
.container-inst div{
    margin: 100px;
}